/collab/venv
/collab/.vscode
/collab/__pycache__
/collab/env.py
/en/env.py
/en/venv/
/en/__pycache__/
/security/bin/
/security/lib/
/security/venv/
/security/env.py
/securitypyvenv.cfg
/security/.vscode/
/security/__pycache__/
/security/.gitignore
/dc/cert.pem
/dc/env.py
/dc/*.pyc
/dc/.DS_Store
/dc/__pycache__/
/dc/.gitignore
/dc/venv
